@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin sb-transition($property, $duration: .3s, $function: ease-in-out) {
	transition: $function $duration $property;
}
