
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body, #app {
	height:100%;
}

.uk-navbar-blue:not(.uk-navbar-transparent) {
	background-color: $color-primary;
}

.uk-logo,
.uk-navbar-toggle {
	&,
	&:hover,
	&:active,
	&:visited {
		color: $color-white;
		padding-top: 2px;
	}
}

.sidebar-left {
	position: fixed;
	z-index: 100;
	top: $navbar-nav-item-height;
	bottom: 0;
	box-sizing: border-box;
	width: $sidebar-width;
	padding: 40px;
	border-right: 1px $global-border solid;
	overflow-y: auto;
	overflow-x: hidden;
	transition: transform ease-in-out .2s;

	.sidebar-hidden & {
		transform: translateX(-100%);
	}
}

//.sidebar-left::-webkit-scrollbar-track {
//	-webkit-box-shadow: inset 0 0 6px $color-white;
//	background-color: $color-dark-gray;
//}
//
//.sidebar-left::-webkit-scrollbar {
//	width: 6px;
//	background-color: $color-dark-gray;
//}
//
//.sidebar-left::-webkit-scrollbar-thumb {
// -webkit-box-shadow: inset 0 0 6px $color-white;
// background-color: $color-light-gray;
//}

.sidebar-left .user-profile-details {
	text-align: center;
}

.main-content-container {
	margin-left: $sidebar-width;
	min-height: calc(100% - #{$navbar-nav-item-height});
	background-color: $color-light-gray-2;
	border-bottom: 1px $global-border solid;
	transition: margin-left ease-in-out .2s;

	.sidebar-hidden & {
		margin-left: 0;
	}
}